extends ../../base
block include-lib
    script(src='/public/js/exercice/dndOrder/create.js')


block title
block body
    script.
        nbQuestions = #{nbQuestions}
        idExercice = #{idExercice}
        numChapter = #{numChapter}

    .container
        form(id ="addForm" , method="post" , action="" ,class ="col s12" )
            .row
                h1.center Lignes de code


                - for (var i = 0; i < nbQuestions  ; ++i) {
                .row
                    .input-field.col.s6
                        input(type="text" , id='question#{i+1}')
                        label(for='question#{i+1}') Ligne #{i+1}
                - }


            .row
                center
                    a#createBtn.waves-effect.green.btn Créer





