extends ../base

block include-lib

    script(src='/public/js/global.js')
    script(src='/public/js/userType/delete.js')
block title

block body

    center
        h3 Etudiant : #{user.firstName} #{user.lastName}
    table(class="striped")

        thead

            tr
                    th Email

        tbody
           tr
                td #{user.email}
           tr
                td
                    center
                        a(id='#{user.id}' , href = '/user/#{user.id}', name = 'viewBtn' , class="waves-effect green btn") Send A Message




    h3   Statistiques


    include ../student/columnChart